[class*='c-']{
	width:100%;
	float:left;
} 
[class*='c']:hover
{
	box-shadow: 10px 5px 5px red;
} 
@media only screen and (min-width:500px)
{
	.c-small-6
	{
	width:50%;

	}
}
@media only screen and (min-width:700px)
{
	.c-medium-4
	{
	width:33.33%;

	}
}
@media only screen and (min-width:900px)
{
	.c-large-7
	{
	width:25%;

	}
}
@mediam only screen and (min-width:1100px)
{
.c-large-8
	{
	width:16.66%;

	}
	
}
